.recursos-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    justify-content: space-around;
    justify-items: stretch;
}
.recurso{
    border: 1px solid black;
    margin: 5px;
    padding-left: 1%;
    text-align: center;
    font-weight: bold;
}
.recurso-title{
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 4%;
}
.recurso-descripcion{
    margin-right: 1%;
    margin-bottom: 2%;
    height: 75%;
    font-size: 80% ;
    text-align: center;
    font-weight: normal;
    align-items: auto;
    justify-content: space-evenly;
}
.recurso-boton{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 145%;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #b90000;
    border-radius: 5px;
}
.categorias{
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px, 80px));
    align-items: auto;
    gap: 2%;
}
.categoria{

    margin-top: 1%;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: #6d3e3e;
    border-radius: 5px;
    width: 100%;
    margin: 1%;
    color: white;
}
.categoria a{
    color: white;
}
.box-titulo-recurso{
    background-color:black;
}
.titulo-recurso{
    text-align: center;
    color: white;
}
.recurso-boton a{
    color:white;
}