html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  width: 100px;
  background-color: red;
  color: white;
  position: relative;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 100%;
  display: block;
  border-right: 3px solid #000105;  
}
#title{
  text-align: center;
  padding-bottom: 10%;
  border-bottom: 2px solid transparent;
}
header ul{
  list-style: none;
}
nav div{
  display: block;
  border-width:thick;
  margin: 1%;
  border-bottom: 2px solid black;
  font-size: 1.05em;
  box-sizing: border-box;
  color: white;
  text-align: center;
}
a{
  text-decoration: none;
}
nav a:visited{
  color: white;
}
body{
  margin-left: 170px;
}
footer{
  text-align: center;
}
a:visited{
  color:black;
}
nav div:hover, a:hover{
  background-color: black;
  color: rgb(255, 255, 255);
  transition: 0.5s all ease-in;
}
h2{
  background-color: black;
  color: white;
  text-align: center;
}
.container-pag{
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(150px,250px));
  align-items: center;
  
}
.container {  
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-areas:
    "img titulo ."
    "img descripcion ."
    ". . .";
    border: #000105 solid 1px;
    max-width: 300px;
    border-radius: 25px;
    margin-left: 5%;
    margin-bottom: 5%;
    
}

.img { 
  grid-area: img;
  padding-top: 20%;
  margin-left: 5%;
}
.img-pag{
  width: 100%;
}
.titulo {
  grid-area: titulo;
  text-align: center;
  margin-bottom: 0;
}

.descripcion {
  grid-area: descripcion;
  text-align: center;
  padding-bottom: -50%;
}
.link-pag:hover{
  border-radius: 10px;
  font-size: 130%;
  
}