* {
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to top, #c00000, #bb1e09, #d5641d, #dd5026, #e7724e);
  color: #fff;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 1em;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.titulo a:hover{
  background-color: #570d0d;
  border-radius: 15%;
  color: white;
  font-size: 120%;
  box-shadow: 10px -5px 173px 1px rgba(201,18,18,1) inset;
  -webkit-box-shadow: 10px -5px 173px 1px rgba(201,18,18,1) inset;
  -moz-box-shadow: 10px -5px 173px 1px rgba(201,18,18,1) inset;
  transition: all 0.2s ease;
  
  margin: 5%;
}

.logo-title {
  display: flex;
  gap: 1em;
}

.logo {
  height: 25px;
}

.title {
  display: flex;
  gap: 1em;
}

.title h2 {
  margin: 0;
  background: transparent;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #570d0d;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.recursos {
  position: relative;
  display: inline-block;
}

.dropdown {
  background-color: #570d0d;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
  right: 0; /* Align the dropdown to the right */
}

.dropdown-item {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
}

.dropdown-item:hover {
  background-color: #7a1818;
}

.show-dropdown {
  display: block;
}
a{
  text-decoration: none;
  color:black;
}
a:visited {
  color: white;
}

.link-pag:visited {
  color: #000000;
}

footer {
  text-align: center;
  margin-top: 5%;
}

h2 {
  background-image: radial-gradient(circle, #a40000, #7f0015, #570819, #2f0d15, #000000);
  color: white;
  text-align: center;
}

.container-pag {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  align-items:stretch ; 
  
  gap: 1em;
  margin-left: 5%;
  margin-right: 5%;
}
.espaciado {
  margin-bottom: 20px;
}

footer {
  padding: 20px;
  background-color: #570d0d;
  color: white;
}

.text-footer {
  color: white;
}

.git-hub {
  margin-top: 10px;
}
.img-pag{
  width: 90%;
}
.container{
  border: #000000 solid 2px;
  padding: 4%;
  height: 160px;
  display: grid;
  grid-template-rows:  0.1fr 0.5fr;
  grid-template-columns: 1fr 1fr; 
  margin: 0;
}
.img{
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  margin-top: 25%;
  margin-bottom: 50%;
}
.titulo{
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  
}
.titulo h4{
  margin: 5%;
}
.descripcion {
  text-align: center; 
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  
}
.dropbtn{
  background: transparent;
  border: transparent;
  color: white;
  font-size: 100%;
  cursor: pointer;
}
.contacto-div{
  left: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
i{
  text-align: center;
  font-size: 50px;
  color: #000000;
  margin-left: 50%;
  margin-top: 40px;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0, .35);
  transition: .3s ease;
}
.fa-instagram:hover{
  background-color: #ff3e00;
  color: white;
  box-shadow: 0 0 15px #ff3e00,
              0 0 45px #ff3e00,
              0 0 75px #ff3e00,
              0 0 115px #ff3e00;
}
.fa-whatsapp:hover{
  background-color: #118d18;
  color: white;
  box-shadow: 0 0 15px  #118d18,
              0 0 45px  #118d18,
              0 0 75px  #118d18,
              0 0 115px  #118d18;
}